
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

/*style for table header and table data*/
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

/*changes color for every other row in the table*/
tr:nth-child(even) {
    background-color: #dddddd;
}

/*add background color to page header*/
.jumbo {
    background-color: rgb(196, 172, 106);
}

.songIndex{
    text-decoration: underline;

}

/*body {
    background: #F3EFE0;
}*/

