@model List<MyTunes.Models.Songs>
@{
                

                ViewBag.Title = "Index";
}

<div class="jumbotron jumbo">
    <h1>MyTunes</h1>
    <p>MyTunes is a database to store all your music.</p>
</div>

@foreach (var song in Model)
{
    <div class="row">
         

        <div class="col-md-4">
            <table>
                <tr>
                    <td>@song.SongTitle</td>
                </tr>
               
            </table>



        </div>

    </div>
    

    
}



    <div class="row">
        <div class="col-sm-12 col-md-6 pl-lg-4">
            @Html.ActionLink("Add Song", "Create", "Songs") |
            @Html.ActionLink("Songs List", "Index", "Songs" )
           

        </div>
    </div>

 


@*<div class="col-md-3">
        <h2>@Model.Pop</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@



