@model MyTunes.Models.Music
@{
    ViewBag.Title = "Index";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    
    <title></title>
    
</head>
<body>
     <div class=" text-center jumbotron">
      <h1 >MyTunes</h1>
      </div> 
    <div class="text-info h1">Album: @Model.Album</div>
    <div class="h1">Artist: @Model.Artist</div>


</body>
</html>


 